.bi-arrow-right:hover {
    color: #fff;
    text-shadow:
        0 0 5px rgb(0, 253, 127),
        0 0 10px rgb(0, 253, 127),
        0 0 20px rgb(0, 253, 127),
        0 0 40px rgb(0, 253, 127);
    animation: neonFlicker 4s infinite;
    animation-duration: 4s;

    @keyframes neonFlicker {
        from {
            text-shadow:
                0 0 10px rgb(81, 240, 147),
                0 0 15x rgb(2, 129, 19);
        }

        to {
            text-shadow:
                0 0 20px rgb(45, 196, 90),
                0 0 40px rgb(73, 189, 82),
                0 0 80px rgb(26, 138, 4);
        }
    }
}
.header-button {
        transition: 1500ms;
        transition-duration: 0.8s;
}
.header-button:hover {
    transform: scale(1.2);
}
.nav-button {
    transition: 1500ms;
    transition-duration: 0.8s;
}
.nav-button:hover {
    transform: translateY(10px);
}
.arrow {
transition: 1500ms;
    transition-duration: 2s;
}
.arrow:hover {
    transform: scale(1.0);
    transform: translateX(35px);
}
.button-explain {
    transition: 1500ms;
transition-duration: 0.5s;
}

.button-explain:hover {
    transform: scale(1.2);
}
.image-mini {
    transition: 1500ms;
transition-duration: 0.5s;
}
.image-mini:hover {
    transform: scale(1.2);
}
.nav-logo {
        transition: 1500ms;
        transition-duration: 0.5s;
}
.nav-logo:hover {
    transform: scale(1.2);
}
.bi-circle-fill {
            transition: 1500ms;
    transition-duration: 0.5s;
}
.bi-circle-fill:hover {
    transform: scale(1.2);
}
.bi-list {
    transition: 1500ms;
transition-duration: 0.5s;
}
.bi-list:hover {
        transform: scale(1.8);
}
.hero-btn {
    transition: 1500ms;
    transition-duration: 0.5s;
}
.hero-btn:hover {
    transform: translateY(-10px);
    color: gray;
}
.hero-href {
    transition: 1500ms;
    transition-duration: 0.8s;
    color: grey;
}
.hero-href:hover {
    transform: scale(1.1);
    color: grey;
}
.arrow {
    transition: 1500ms;
    transition-duration: 1s;
}
.arrow:hover {
    transform: rotate(360deg);
    color: gray;
}
.location-first-btn {
        transition: 1500ms;
            transition-duration: 1s;
}
.location-first-btn:hover {
    transform: scale(1.1);
        color: grey;
}
.location-two-btn {
    transition: 1500ms;
        transition-duration: 1s;
}
.location-two-btn:hover {
    transform: scale(1.1);
        color: grey;
}
.submit-modal-ice-cream {
    transition: 1500ms;
        transition-duration: 1s;
}
.submit-modal-ice-cream:hover {
    transform: translateY(-10px);
     color: grey;
}
.submit-modal {
transition: 1500ms;
    transition-duration: 1s;
}
.submit-modal:hover {
    transform: translateY(-10px);
        color: grey;
}