body{
    margin: 0;

}

.surface-div {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 80px;
}

.comment-img {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 40px;
    
    img {
        border-radius: 50%;
    }
}

.comment-text-div {
    display: flex;           
    justify-content: center; 
    align-items: center;    
    text-align: center;
    background-color: $sections-background;
    width: 280px;
    height: 260px;
    border-radius: 3%;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 30px;

    .comment-text {
        color: $base-text;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 254.99999999999997%;
        letter-spacing: 0%;
        width: 202px;
    }

}

.locate-text {
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    letter-spacing: 0%;
}

.comment-circle {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 23px;    
    

}