.explain-div {
    height: 1524px;
    background-color: #84A178;
    .explain-text {
    font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
             color: $base-text;
    }
    .explain-h1 {
        font-family: Seymour One;
            font-weight: 400;
            font-size: 30px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 4%;
            text-align: center;
            text-transform: uppercase;
                color: $base-text;
    }
    .direction-explain {
        padding: 40px;
    }
    .explain-animal {
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 100%;
         height: auto;
            top: 263px;
            left: 21px;
            angle: 0 deg;
            opacity: 1;
            border-radius: 140px;
            background-color: #84A178;
    }
}
.lorem-expalin {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 10px;
        leading-trim: NONE;
        letter-spacing: 4%;
        text-align: center;
        color: $base-text;
}
.explain-dir {
    padding: 20px;
}
.btn-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    .button-explain {
    width: 164px;
        height: 42px;
        angle: 0 deg;
        opacity: 1;
        border-radius: 10px;
        background-color: $accent-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    .button-explain {
        font-family: Montserrat;
            font-weight: 600;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
    }
}
.image-exlain {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-mini {
    background-color: $accent-color;
    width: 50px;
        height: 50px;
        top: 7px;
        left: 7px;
        angle: 0 deg;
        opacity: 1;
        border-radius: 50%;
        padding: 10px;
}
.image-colums {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
        height: 50px;
        top: -0px;
        angle: 0 deg;
        opacity: 1;
}
.quantity {
    font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 4%;
        text-align: center;
        text-transform: uppercase;
        color: $background-main;
}
.quantity-text {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 11px;
        leading-trim: NONE;
        line-height: 170%;
        letter-spacing: 0%;
        text-align: center;
        color: $background-main;
}
.mini-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
@media (min-width: 480px) {
    .explain-div {
            height: 1624px;
            background-color: #84A178;
    }
    .quantity-text {
        font-family: Montserrat;
            font-weight: 400;
            font-size: 12px;
            leading-trim: NONE;
            line-height: 170%;
            letter-spacing: 0%;
            text-align: center;
            color: $background-main;
    }
    .text-directions {
        text-align: start;
        width: 336px;

    }
    .explain-animal {
        width: 280px;
    }
}
@media (min-width: 768px) {
    .explain-div {
            height: 1075px;
            angle: 0 deg;
            opacity: 1;
            color: $sections-background;
    }
    .explain-omega {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-colums {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .width-colums {
        padding: 50px;
    }
    .lorem-expalin {
        text-align: start;
    }
    .explain-animal {
        width: 330px;
            top: 214px;
            left: 32px;
            angle: 0 deg;
            opacity: 1;
            border-radius: 165px;
    }
    .btn-direction {
        display: flex;
        justify-content: start;
    }
}
@media (min-width: 1200px) {
    .explain-div {
        height: 1228px;
        angle: 0 deg;
        opacity: 1;
        angle: 0 deg;
        opacity: 1;
        color: $sections-background;
    }
    .lorem-expalin {
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .text-directions {
        display: flex;
        flex-direction: column;
    }
        .btn-direction {
            display: flex;
            justify-content: start;
        }
    .text-cow {
        display: flex;
        text-align: start;
    }
    .btn-directions {
            text-align: start;
    }
    .image-exlain {
             width: 491px;
            height: 529px;
    }
    .explain-animal {
        width: 491px;
    }
}
